process {
    withName: 'VCFPGLOADER' {
        ext.args = params.module_args ?: ''
        ext.batch_size = params.batch_size ?: '10000'
    }
}

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    db_host = 'localhost'
    db_port = 5432
    db_name = 'vcf_test'
    db_user = 'postgres'
    db_schema = 'public'
    batch_size = '10000'
}
